*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body{
    background-color: rgb(45, 7, 58);
    color: white;
    animation-name: ani;
    animation-duration: 3s;
}

@keyframes ani{
    0%{
        background-color: rgb(45, 7, 58);
    }
    50%{
        background-color: rgb(121, 98, 129);
    }
    100%{
        background-color: rgb(45, 7, 58);
    }
}

.container{
    width: 90%;
    max-width: 700px;
   margin: 200px 12% ;
   padding: 20px 20px; 
}

.display{
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: white;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 5px;
    
}

.container h1{
   font-weight: 500px;
   font-size: 45px;
}

.container p{
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    color:#019f55;
    border-bottom: 3px solid #019f55;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.container h1 span{
    color: rgba(82, 173, 29, 0.773);
}

.display img{
    width: 30px;
    cursor: pointer;
}

.display input{
    border: 0;
    outline: 0;
    font-size: 20px;
}

.container button img{
    width: 30px;
    margin-right: 10px;
}

.container button{
    background-color:  #019f55;
    font-size: 20px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    border-radius: 5px;
    outline: 0;
    border: 0;
    cursor: pointer;

}

.popup{
    width: 400px;
    background-color: white;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    color: black;
    padding: 0 20px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.popup img{
   background-color: #019f55;
   border-radius: 50%;
   margin-top: -100px;
   box-shadow: 0 2px 5px  rgb(45, 7, 58);
}

.popup h1{
    margin-top: 10px;
    margin-bottom: 20px;
}

.popup p span{
  font-weight: 700;
}

.popup p{
    margin-bottom: 15px;
}

.popup button{
    width: 100%;
    background-color: #019f55;
    padding: 6px 40px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    outline: 0;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 5px 5px  rgb(139, 103, 151);
}